java/.gradle
java/build/
java/*/build/
.idea
.DS_STORE
piranha.iml
objc/process
objc/piranha-objc
swift/artifact
swift/Piranha.xcodeproj
swift/Package.resolved
**/*.iml
generic/piranha-tree-sitter/target
generic/piranha-tree-sitter/Cargo.lock
generic/piranha-tree-sitter/.idea
generic/tree-sitter-src/tree-sitter-java
generic/tree-sitter-src/tree-sitter-swift
.history
.vscode
**/*.log
generic/piranha-tree-sitter/demo/java/piranha-tree-sitter