java/.gradle
java/build/
java/*/build/
.idea
.DS_STORE
piranha.iml
objc/process
objc/piranha-objc
swift/artifact
swift/Piranha.xcodeproj
swift/Package.resolved
**/*.iml
polyglot/piranha/target
polyglot/piranha/Cargo.lock
polyglot/piranha/.idea
polyglot/tree-sitter-src/tree-sitter-java
polyglot/tree-sitter-src/tree-sitter-swift
polyglot/tree-sitter-src/tree-sitter-kotlin
.history
.vscode
**/*.log
polyglot/piranha/demo/piranha