java/.gradle
java/build/
java/*/build/
.idea
.DS_STORE
piranha.iml
objc/process
objc/piranha-objc
swift/artifact
swift/Piranha.xcodeproj
swift/Package.resolved
**/*.iml
rust/piranha-tree-sitter/target
rust/piranha-tree-sitter/Cargo.lock
rust/piranha-tree-sitter/.idea
rust/tree-sitter-query/
rust/tree-sitter-src/
rust/piranha-tree-sitter/src/test-resources/