[package]
authors = [
  "Ameya Ketkar <ketkara@uber.com>",
  "Lazaro Clapp <lazaro@uber.com>",
  "Murali Krishna Ramanathan",
  "Uber Technologies Inc.",
]
name = "piranha"
description = "Polyglot Piranha is a library for performing structural find and replace with deep cleanup."
version = "0.3.15"
edition = "2021"
include = ["pyproject.toml", "src/"]
exclude = ["legacy"]
license-file = "LICENSE"
categories = [
  "structural find-replace",
  "find-replace",
  "structural seearch",
  "structural search and replace",
  "tree-sitter",
]

[[bin]]
name = "polyglot_piranha"
path = "src/main.rs"

[lib]
name = "polyglot_piranha"
path = "src/lib.rs"
crate-type = ["cdylib", "rlib"]
doctest = false

[build-dependencies]
cc = "1.0.73"

[dependencies]
tree-sitter = "0.20.6"
tree-sitter-traversal = "0.1.2"
json = "0.12.4"
toml = "0.7.3"
serde = "1.0.136"
serde_derive = "1.0.136"
colored = "2.0.0"
itertools = "0.10.3"
regex = "1.5.5"
jwalk = "0.8.1"
clap = { version = "4.0.3", features = ["derive"] }
log = "0.4.16"
env_logger = "0.10.0"
tempdir = "0.3"
serde_json = "1.0.82"

tree-sitter-kotlin = { git = "https://github.com/fwcd/tree-sitter-kotlin.git" }
# TODO: Update after next version is released (https://github.com/tree-sitter/tree-sitter-java/issues/146)
tree-sitter-java = { git = "https://github.com/tree-sitter/tree-sitter-java.git", rev = "c194ee5e6ede5f26cf4799feead4a8f165dcf14d" }
# TODO: Update after: https://github.com/alex-pinkus/tree-sitter-swift/issues/278 resolves
tree-sitter-swift = { git = "https://github.com/satyam1749/tree-sitter-swift.git", rev = "ddc904f949481a831a35f34e9dc2d62d3967a4ea" }
tree-sitter-python = "0.20.2"
tree-sitter-typescript = "0.20.1"
# TODO: Update after https://github.com/tree-sitter/tree-sitter-go/pull/103 lands
tree-sitter-go = { git = "https://github.com/uber/tree-sitter-go.git", rev = "8f807196afab4a1a1256dbf62a011020c6fe7745" }
tree-sitter-thrift = "0.5.0"
tree-sitter-strings = { git = "https://github.com/uber/tree-sitter-strings.git" }
tree-sitter-query = "0.1.0"
derive_builder = "0.12.0"
getset = "0.1.2"
pyo3 = "0.19.0"
pyo3-log = "0.8.1"
glob = "0.3.1"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]


[dev-dependencies]
assert_cmd = "2.0.7"
predicates = "3.0.2"
