# Copyright (c) 2023 Uber Technologies, Inc.
# 
# <p>Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
# except in compliance with the License. You may obtain a copy of the License at
# <p>http://www.apache.org/licenses/LICENSE-2.0
# 
# <p>Unless required by applicable law or agreed to in writing, software distributed under the
# License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing permissions and
# limitations under the License.

# This file contains rules to the specific feature flag API.

#
# For @stale_flag_name = STALE_FLAG and @treated = true
# Before 
#  exp.isToggleEnabled(Experiment.STALE_FLAG)
# After 
#  true
#
[[rules]]
name = "add_field_declaration"
query = """(
(class_declaration name: (_)@class_name 
    body : (class_body ((_)*) @class_members)  @class_body
 ) @class_declaration
(#eq? @class_name "FooBar")
)"""
replace_node = "class_body"
replace = "{\n private List<String> names;\n @class_members \n}"
[[rules.constraints]]
matcher = "(class_declaration ) @c_cd"
queries = ["""(
(field_declaration (variable_declarator name:(_) @name )) @field
(#eq? @name "names")
)"""]

[[rules]]
name = "add_import"
query = """
(package_declaration) @pkg_dcl
"""
replace_node = "pkg_dcl"
replace = "@pkg_dcl \n import java.util.List;"
is_seed_rule = false
[[rules.constraints]]
matcher = "(program ) @prgrm"
queries = ["""(
(import_declaration (scoped_identifier) @type ) @import
(#eq? @type "java.util.List")
)"""]
