{
    "arrowParens": "always",
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "singleQuote": false
            }
        }
    ]
}
