
# Copyright (c) 2023 Uber Technologies, Inc.
# 
# <p>Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
# except in compliance with the License. You may obtain a copy of the License at
# <p>http://www.apache.org/licenses/LICENSE-2.0
# 
# <p>Unless required by applicable law or agreed to in writing, software distributed under the
# License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing permissions and
# limitations under the License.

# The edges in this file specify the flow between the rules.


[[edges]]
scope = "Parent"
from = "replace_expression_with_boolean_literal"
to = ["boolean_literal_cleanup", "variable_inline_cleanup"]

[[edges]]
scope = "Parent"
from = "variable_inline_cleanup"
to = [
  "delete_field_initialisation",
  "delete_field_initialisation_init",
  "delete_variable_declaration",
  "delete_variable_declaration_init",
]

[[edges]]
scope = "Constructor"
from = "delete_variable_declaration_init"
to = ["replace_identifier_with_value", "delete_parent_assignment"]

[[edges]]
scope = "Function"
from = "delete_variable_declaration"
to = ["replace_identifier_with_value", "delete_parent_assignment"]

[[edges]]
scope = "Class"
from = "delete_field_initialisation_init"
to = [
  "replace_identifier_with_value",
  "replace_self_identifier_with_value",
  "delete_field_declaration",
]

[[edges]]
scope = "Class"
from = "delete_field_initialisation"
to = [
  "replace_identifier_with_value",
  "replace_self_identifier_with_value",
  "delete_parent_assignment",
]

[[edges]]
scope = "Parent"
from = "replace_identifier_with_value"
to = ["boolean_literal_cleanup"]

[[edges]]
scope = "Parent"
from = "replace_self_identifier_with_value"
to = ["boolean_literal_cleanup"]

[[edges]]
scope = "Parent"
from = "replace_identifier_with_value"
to = ["boolean_literal_cleanup"]

[[edges]]
scope = "Parent"
from = "replace_self_identifier_with_value"
to = ["boolean_literal_cleanup"]

[[edges]]
scope = "Parent"
from = "boolean_literal_cleanup"
to = [
  "variable_inline_cleanup",
  "boolean_expression_simplify",
  "statement_cleanup",
]

[[edges]]
scope = "Parent"
from = "boolean_expression_simplify"
to = ["boolean_literal_cleanup"]

[[edges]]
scope = "File"
from = "statement_cleanup"
to = ["post_processing_cleanup", "if_cleanup"]

[[edges]]
scope = "Parent"
from = "statement_cleanup"
to = ["guard_cleanup"]
