name: Build Polyglot Piranha
on:
  pull_request:
  push:
    branches:
      - master
env:
  CARGO_TERM_COLOR: always
jobs:
  build_and_test:
    name: Polyglot Piranha Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Piranha sources
        uses: actions/checkout@v4

      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Set up Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Run pre-commit
        run: |
          python -m pip install --upgrade pip
          pip install pipx
          pipx install pre-commit
          cargo install taplo-cli --locked
          pre-commit run --all-files

      - name: Run unit and integration tests
        run: |
          cargo build
          cargo test -- --include-ignored

      - name: Run Python tests
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install .[dev]
          pytest .
