# GitHub CI workflow for PiranhaJava

name: Java
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  detect:
    uses: ./.github/workflows/detect_changes.yml

  build:
    name: "JDK ${{ matrix.java }} on ${{ matrix.os }}"
    strategy:
      matrix:
        include:
          - os: macos-latest
            java: 8
          - os: macos-latest
            java: 11
          - os: ubuntu-latest
            java: 8
          - os: ubuntu-latest
            java: 11
      fail-fast: false
    runs-on: ${{ matrix.os }}
    needs: detect
    if: ${{ github.event_name == 'push' || needs.detect.outputs.java == 'true' }}
    steps:
      - name: Check out Piranha sources
        uses: actions/checkout@v2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build and test using Gradle and Java
        uses: eskatos/gradle-command-action@v1
        with:
          build-root-directory: ./legacy/java
          wrapper-directory: ./legacy/java
          arguments: verGJF build
