# GitHub CI workflow for PiranhaJava

name: Java CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  # runs change detection
  # this job allows build to have a single if
  changes:
    runs-on: ubuntu-latest
    outputs:
      java: ${{ steps.filter.outputs.java }}
    steps:
      - uses: actions/checkout@v2
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: '.github/filters.yaml'

  build:
    name: "JDK ${{ matrix.java }} on ${{ matrix.os }}"
    strategy:
      matrix:
        include:
          - os: macos-latest
            java: 8
          - os: macos-latest
            java: 11
          - os: ubuntu-latest
            java: 8
          - os: ubuntu-latest
            java: 11
          # Windows is unsupported for now
          # - os: windows-latest
          #   java: 8
      fail-fast: false
    runs-on: ${{ matrix.os }}
    needs: changes
    # always running when it's a push
    # otherwise, only when modifications in java's dir
    if: ${{ github.event_name == 'push' || needs.changes.outputs.java == 'true' }}
    steps:
      - name: Check out Piranha sources
        uses: actions/checkout@v2
      - name: 'Set up JDK ${{ matrix.java }}'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build and test using Gradle and Java
        uses: eskatos/gradle-command-action@v1
        with:
          build-root-directory: ./java
          wrapper-directory: ./java
          arguments: verGJF build
      - name: Report jacoco coverage
        uses: eskatos/gradle-command-action@v1
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        with:
          build-root-directory: ./java
          wrapper-directory: ./java
          arguments: jacocoTestReport coverallsJacoco
        continue-on-error: true
        if: runner.os == 'Linux' && matrix.java == '8' && github.repository == 'uber/piranha'
