name: Release Polyglot Piranha
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      repository:
        description: 'PyPI repository (pypi or testpypi)'
        required: false
        default: 'pypi'
jobs:
  release:
    strategy:
      matrix:
        target: [linux-x86, linux-arm, macos-arm]
        # Python 3.13 is yet not supported by PyO3 (version 0.20.3).
        python-version: ['3.9', '3.10', '3.11', '3.12']
    runs-on: ${{ fromJSON('{"linux-x86":"ubuntu-latest","linux-arm":"ubuntu-latest","macos-arm":"macos-latest"}')[matrix.target] }}
    # We need to pin a debian version for linux for consistency with internal CI and Devpod versions. This avoids version mismatches of critical libs like glibc.
    container: ${{ matrix.target == 'linux-x86' && 'quay.io/pypa/manylinux_2_28_x86_64' || '' }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Rust (Linux only)
      if: ${{ matrix.target == 'linux-x86' || matrix.target == 'linux-arm' }}
      run: |
        apt-get update && apt-get install -y curl
        curl https://sh.rustup.rs -sSf | sh -s -- -y
        echo "$HOME/.cargo/bin" >> $GITHUB_PATH
    - name: pip install --upgrade maturin
      run: |
        pip install --upgrade maturin
    - name: Setup rustup target linux-arm
      if: ${{ matrix.target == 'linux-arm' }}
      # g++ is needed for tree-sitter YAML dependency
      run: |
        apt-get update
        apt-get install -y gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
        rustup target add aarch64-unknown-linux-gnu
        mkdir -p .cargo
        touch .cargo/config.toml
        echo "[target.aarch64-unknown-linux-gnu]" >> .cargo/config.toml
        echo "linker = \"aarch64-linux-gnu-gcc\"" >> .cargo/config.toml
    - name: Setup rustup target macOS-arm
      if: ${{ matrix.target == 'macos-arm' }}
      run: |
        rustup target add x86_64-apple-darwin
        rustup target add aarch64-apple-darwin
    - name: Build wheel with Maturin ${{ matrix.target }}
      run: |
        maturin build --release -o dist --target ${{ fromJSON('{"linux-x86":"x86_64-unknown-linux-gnu","linux-arm":"aarch64-unknown-linux-gnu","macos-arm":"universal2-apple-darwin"}')[matrix.target] }} -i ${{ matrix.python-version }}
    - name: Build source distribution (only once for linux-x86)
      if: ${{ matrix.target == 'linux-x86' }}
      run: |
        maturin build --sdist -o dist
    - name: Pypi Release
      if: ${{ github.event.inputs.repository == '' || github.event.inputs.repository == 'pypi' }}
      run: |
        pip install twine
        twine upload --skip-existing -u __token__ -p ${{ secrets.PYPI_TOKEN }} dist/*
    - name: TestPyPI Release
      if: ${{ github.event.inputs.repository == 'testpypi' }}
      run: |
        pip install twine
        twine upload --repository testpypi --skip-existing -u __token__ -p ${{ secrets.TEST_PYPI_TOKEN }} dist/*
